.page3{
    width: 100%;
    height: 100vh;
    color: black;
    padding-top: 7em;
    background-blend-mode: overlay;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-section{
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-section button{
    font-size: 2em;
    padding: 1em;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: brown;
    color: white;
    border-radius: 30px;
    transition: .25s ease-in-out;
    width: 30%;
    font-weight: 600;
    height: 33%;
    scale: 0.8;
    border: 2px solid brown;
}

.button-section button:hover{
    color: brown;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    scale: 0.83;
    font-size: 2.1rem;
    border: 2px solid brown;
}

.icon1{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    background: none;
    box-shadow: none;

}

.icon1 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}