.page0{
    background-color: aliceblue;
    height: 100vh;
}

.page0-circle-bg{
    position: absolute;
    top: 20%;
    left: -5%;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    border: 4px solid black;
    background: url('../../assets/campus-img-02.jpg');
    background-size: cover;
}