    .page0{
        height: 100vh;
    }

    .page0-circle-bg{
        position: absolute;
        top: 20%;
        left: -5%;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        border: 4px solid black;
        background: url('../../../assets/campus-img-02.jpg');
        background-size: cover;
        animation: slide-in 1.5s forwards;
    }

    @keyframes slide-in {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .intro-text {
        position: absolute;
        top: 30%;
        transform: translateX(-50%);
        text-align: center;
        border: 2px solid black;
        width:40vw;
        height: 40vh;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        animation: slide-in-text 1.5s forwards;
    }

    @keyframes slide-in-text {
        0% {
            right: -300%;
        }
        100% {
            right: 0%;
        }
    }


.intro-text h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    background-color: rgb(62, 62, 32);
    padding: 0.5em;
    position: absolute;
    top: 0;
    border-radius: 15px 15px 0 0;
}

.intro-text p {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    margin: 0 0.5em;
    position: absolute;
    top: 50%;
}