*{
    margin: 0;
    padding: 0;
}
body{
    background: url('./assets/Desktop\ -\ 1.svg');
    background-size: cover;
}

/* remove scrollbar */
html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */

}